# Required
MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/truejoybirthing
DB_NAME=truejoybirthing
JWT_SECRET_KEY=your-secret-key-here-generate-a-random-one

# Optional
RESEND_API_KEY=your-resend-api-key
GOOGLE_CLIENT_ID=your-google-client-id
FRONTEND_BASE_URL=https://your-frontend-url.com
